.user-home_header {
  h3 {
    margin-top: 30px;
  }

  hr{
    margin-bottom: 40px;
  }

  .user-home_message{
    margin-bottom: 20px;
  }


  .user-home_unapproved {
    color:red;
  }

  .user-home_unapproved-row{
    margin-bottom: 20px;
  }
}

