.registration {
  h3 {
    margin-top: 30px;
    text-align: center;
  }
}

.thank-you {
  margin-top: 200px;
  text-align: center;
  color: white;
  h3 {
    font-weight: bold;
  }
  h4 {
    font-family: Gotham-light;
    font-weight: 100;
    margin-top: 40px;
  }
}

.ims-number-org-name {
  padding: 5px;
  margin-top: 25px;
  font-weight: bold;
  color: #4da9c7;
}
