<div ui-view>
  <div class="text-center user-home_header" ng-if="$ctrl.user.loggedOn">
    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <h3>PROGRAMMES</h3>
        <hr>
      </div>
      <div class="col-xs-1"></div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-md-3"></div>
      <div class="col-sm-8 col-md-6">
        <p class="user-home_message">
          This section of the service is currently in development and will be available in due course.
        </p>
      </div>
      <div class="col-sm-2 col-md-3"></div>
    </div>
  </div>

</div>
